SEPOLIA_RPC_URL="https://lb.drpc.live/sepolia/<your-drpc-key>"
WRANGLER_HYPERDRIVE_LOCAL_CONNECTION_STRING_DB="postgresql://postgres:postgres@localhost/postgres"
JWT_SECRET=""
POSTHOG_PERSONAL_API_KEY=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_WEBHOOK_SECRET=""
SENDGRID_API_KEY=""
SENDGRID_WEBHOOK_VERIFICATION_KEY=""
EMAIL_FROM_ADDRESS=""
